[submodule "lua/config/plugins/pack/plugins/opt/plenary.nvim"]
	path = lua/config/plugins/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "lua/config/plugins/pack/plugins/opt/dressing.nvim"]
	path = lua/config/plugins/pack/plugins/opt/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/catppuccin"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/telescope.nvim"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = 0.1.x
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-autopairs"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
