[submodule "lua/config/plugins/pack/plugins/opt/plenary.nvim"]
	path = lua/config/plugins/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "lua/config/plugins/pack/plugins/opt/dressing.nvim"]
	path = lua/config/plugins/pack/plugins/opt/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/catppuccin"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/telescope.nvim"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = 0.1.x
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-autopairs"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-treesitter"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-lspconfig"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-cmp"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/cmp-nvim-lsp"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/LuaSnip"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "/home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/lsp-zero.nvim"]
	path = /home/silva/.config/nvim/lua/config/plugins/pack/plugins/opt/lsp-zero.nvim
	url = https://github.com/VonHeikemen/lsp-zero.nvim
	branch = v2.x
